.user-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 375px;
    border: 2px solid;
    border-radius: 15px;
    margin: 10px;
    background-color: tomato;
    box-shadow: 0 2px rgba(0, 0, 0, 0.5);
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
}
.character-card:hover {
  transition-duration: 1.25s;
  transform: scale(1.5);
  box-shadow: 0 0 100px 12px rgba(255, 128, 0, 0.964);
  cursor: crosshair;
  z-index: 10;
}

.user-card h3{
    font-size: 18px;
    margin-bottom: 5px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.user-card p{
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.character-card::before,
.character-card::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
}


.user-card::before {
  top: 5px;
  left: 5px;
}

.user-card::after {
  bottom: 5px;
  right: 5px;
}

.user-content {
  margin-top: 2.5em;
}

.user-img {
  width: 250px;
  border-radius: 5px;
}

